# Python cache
__pycache__/
*.py[cod]

# Local databases
*.sqlite3

# Virtual environments
.venv/

# Pipenv
Pipfile.lock

# OS / editor files
.DS_Store
Thumbs.db
*.log

# VS Code / JetBrains IDEs
.vscode/
.idea/

# Static / media files
staticfiles/
media/

# Secrets
.env

# Fixtures (ignore all by default)
fixtures/*

# Allow committed seed data
!fixtures/initial_data.json
