[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
django-filter = "*"
python-decouple = "*"
drf-spectacular = "*"
djangorestframework-simplejwt = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = {extras = ["brotli"], version = "*"}
gunicorn = "*"
uvicorn = "*"

[dev-packages]
black = "*"
ruff = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
